<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin functions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GLEESON LIBRARY</a>
    </div>
</div>
</nav>
<div class="container">

  <div class="row">

    <div class="col-sm-5 text-center">
      
      <p><a href = "{{ url_for('reports_department_books') }}"><h4>Books available by department</h4>
      </a></p>
    </div>
    
  
  </div>
</div>


</body>
</html>

